.layout {
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 80px;
    height: 100vh;
    background-color: #121212;
    color: white;
    overflow: hidden;
    }

.sidebar {
    grid-area: sidebar;
    background-color: #111;
    padding: 1rem;
    color: #fff;
    overflow-y: auto;
}

.header {
    grid-area: header;
    background-color: #1e1e1e;
    padding: 1rem;
}

.content {
    grid-area: content;
    padding: 1rem;
    overflow-y: auto;
    background-color: #121212;
}

.footer {
    grid-area: footer;
    background-color: #1e1e1e;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) { /* móvil */
    .layout {
        grid-template-areas:
            "header"
            "content"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .sidebar {
        display: none; /* esconder barra lateral en móviles */
    }
}